<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>AGHS - Blog </title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="/">African Global Health Services</a></h1>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/blog">Blog</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li>Blog</li>
        </ol>
        <h2>Blog</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container">

        <div class="row">

          <div class="col-lg-8 entries">

            <div class="row">

              <div class="col-md-6 d-flex align-items-stretch">
                <article class="entry">

                  <div class="entry-img">
                    <img src="assets/img/blog-covid.jpg" alt="" class="img-fluid">
                  </div>

                  <h2 class="entry-title">
                    <a href="/blog/blog-single">The Truth About Covid-19 Facts and Myths</a>
                  </h2>

                  <div class="entry-meta">
                    <ul>
                      <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="/blog/blog-single">Dr Michael G</a></li>
                      <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i><time datetime="2020-01-01">Mar 12, 2020</time></li>
                    </ul>
                  </div>

                  <div class="entry-content">
                    <p>
                      Similique neque nam consequuntur ad non maxime aliquam quas. Quibusdam animi praesentium. Aliquam et laboriosam eius aut nostrum quidem aliquid dicta zena prista maraeda talan mas indera.
                    </p>
                    <div class="read-more">
                      <a href="/blog/blog-single">Read More</a>
                    </div>
                  </div>

                </article><!-- End blog entry -->
              </div>

              <div class="col-md-6 d-flex align-items-stretch">
                <article class="entry">

                  <div class="entry-img">
                    <img src="assets/img/blog-breast.jpg" alt="" class="img-fluid">
                  </div>

                  <h2 class="entry-title">
                    <a href="/blog/blog-single">Proper Breast Handling</a>
                  </h2>

                  <div class="entry-meta">
                    <ul>
                      <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="/blog/blog-single">Dr Michael G</a></li>
                      <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i><time datetime="2020-01-01">Jan 1, 2020</time></li>
                    </ul>
                  </div>

                  <div class="entry-content">
                    <p>
                      Similique neque nam consequuntur ad non maxime aliquam quas. Quibusdam animi praesentium. Aliquam et laboriosam eius aut nostrum quidem aliquid dicta zena prista maraeda talan mas indera.
                    </p>
                    <div class="read-more">
                      <a href="/blog/blog-single">Read More</a>
                    </div>
                  </div>

                </article><!-- End blog entry -->
              </div>

              <div class="col-md-6 d-flex align-items-stretch">
                <article class="entry">

                  <div class="entry-img">
                    <img src="assets/img/blog-kids.jpg" alt="" class="img-fluid">
                  </div>

                  <h2 class="entry-title">
                    <a href="/blog/blog-single">The Recommending Diet of Children </a>
                  </h2>

                  <div class="entry-meta">
                    <ul>
                      <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="/blog/blog-single">Dr Michael G</a></li>
                      <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i><time datetime="2020-01-01">Jan 1, 2020</time></li>
                    </ul>
                  </div>

                  <div class="entry-content">
                    <p>
                      Similique neque nam consequuntur ad non maxime aliquam quas. Quibusdam animi praesentium. Aliquam et laboriosam eius aut nostrum quidem aliquid dicta zena prista maraeda talan mas indera.
                    </p>
                    <div class="read-more">
                      <a href="/blog/blog-single">Read More</a>
                    </div>
                  </div>

                </article><!-- End blog entry -->
              </div>

              <div class="col-md-6 d-flex align-items-stretch">
                <article class="entry">

                  <div class="entry-img">
                    <img src="assets/img/blog-pregancy.jpg" alt="" class="img-fluid">
                  </div>

                  <h2 class="entry-title">
                    <a href="/blog/blog-single">Know Beauty of Having Children</a>
                  </h2>

                  <div class="entry-meta">
                    <ul>
                      <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="/blog/blog-single">Dr Michael G</a></li>
                      <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i><time datetime="2020-01-01">Jan 1, 2020</time></li>
                    </ul>
                  </div>

                  <div class="entry-content">
                    <p>
                      Similique neque nam consequuntur ad non maxime aliquam quas. Quibusdam animi praesentium. Aliquam et laboriosam eius aut nostrum quidem aliquid dicta zena prista maraeda talan mas indera.
                    </p>
                    <div class="read-more">
                      <a href="/blog/blog-single">Read More</a>
                    </div>
                  </div>

                </article><!-- End blog entry -->
              </div>

              <div class="col-md-6 d-flex align-items-stretch">
                <article class="entry">

                  <div class="entry-img">
                    <img src="assets/img/blog-cancer.jpg" alt="" class="img-fluid">
                  </div>

                  <h2 class="entry-title">
                    <a href="/blog/blog-single">Shocking Truth about Cancers</a>
                  </h2>

                  <div class="entry-meta">
                    <ul>
                      <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="/blog/blog-single">Dr Michael G</a></li>
                      <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i><time datetime="2020-01-01">feb 2, 2019</time></li>
                    </ul>
                  </div>

                  <div class="entry-content">
                    <p>
                      Similique neque nam consequuntur ad non maxime aliquam quas. Quibusdam animi praesentium. Aliquam et laboriosam eius aut nostrum quidem aliquid dicta zena prista maraeda talan mas indera.
                    </p>
                    <div class="read-more">
                      <a href="/blog/blog-single">Read More</a>
                    </div>
                  </div>

                </article><!-- End blog entry -->
              </div>

              <div class="col-md-6 d-flex align-items-stretch">
                <article class="entry">

                  <div class="entry-img">
                    <img src="assets/img/blog-overdose.jpg" alt="" class="img-fluid">
                  </div>

                  <h2 class="entry-title">
                    <a href="/blog/blog-single">Following Doctors Advise is  Paramount to Prevent OverDose</a>
                  </h2>

                  <div class="entry-meta">
                    <ul>
                      <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="/blog/blog-single">Dr Michael G</a></li>
                      <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i><time datetime="2020-01-01">Jan 1, 2020</time></li>
                    </ul>
                  </div>

                  <div class="entry-content">
                    <p>
                      Similique neque nam consequuntur ad non maxime aliquam quas. Quibusdam animi praesentium. Aliquam et laboriosam eius aut nostrum quidem aliquid dicta zena prista maraeda talan mas indera.
                    </p>
                    <div class="read-more">
                      <a href="/blog/blog-single">Read More</a>
                    </div>
                  </div>

                </article><!-- End blog entry -->
              </div>

            </div>

            <div class="blog-pagination">
              <ul class="justify-content-center">
                <li class="disabled"><i class="icofont-rounded-left"></i></li>
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#"><i class="icofont-rounded-right"></i></a></li>
              </ul>
            </div>

          </div><!-- End blog entries list -->

        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
              <h3>Africa Global  Health Services</h3>
            <p>
              kampala <br>
              Kololo, KL Plot 535<br>
              Uganda<br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#Home">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#servics">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#services">Childrens centre</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#services">Surgical procedures</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#services">Emegency care</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#services">Radiology services</a></li>
                <li>
                    <i class="bx bx-chevron-right"></i> <a href="#services">
                        Intensive care
                    </a>
                </li>
                <li><i class="bx bx-chevron-right"></i> <a href="#services">Womens centre</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Internal Medicine</a></li>
                <li>
                    <i class="bx bx-chevron-right"></i> <a href="#services">
                        Dailysis centre
                    </a>
                </li>
                <li><i class="bx bx-chevron-right"></i> <a href="#services">DNA Diagonsis</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#services">Eye Clinic</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#services">
    HIV Counsoling and Care
</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#services">Health Tips</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Subcribe to get latest information from our new letter direct you email address</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>AGHS</span></strong>. All Rights Reserved 2020
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/from-validation/validate.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>